@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.2.1.js"> </script>

    <script src="~/Scripts/CredentialValidation.js"></script>

  @*  @Styles.Render("~/Content/themes/base/bootstrap.css")*@

   @* <link href="~/Content/themes/base/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>

<body class="c">
    <div class="head">
        <br/>
       <center>Presendator</center>
        </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>




@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

      <script src="~/Scripts/jquery-3.2.1.js"> </script>
   
    <script src="~/Scripts/CredentialValidation.js"></script>

     @RenderSection("scripts", false)

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simple Gray, Professional free website template</title>
<meta name="keywords" content="free templates, website templates, CSS, XHTML" />
<meta name="description" content="Simple Gray - Professional free XHTML/CSS template provided by templatemo.com" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<!-- Top Menu Start -->
<div id="templatemo_header_wrapper">
  <div id="templatemo_header">
    
   	<div id="site_logo"></div>
        
		<div id="templatemo_menu">
      		<div id="templatemo_menu_left"></div>
            <ul>
                  <li><a href="#" class="current">Home</a></li>
                  <li><a href="http://www.templatemo.com">Services</a></li>
                  <li><a href="http://www.templatemo.com/page/2">Gallery</a></li>
                  <li><a href="#">Company</a></li>
                  <li><a href="#" class="last">Contact</a></li>
            </ul>    	
		</div>    
    </div>
</div> 
<!-- End of Top Menu-->

<!-- Banner Start -->


     @RenderBody()

<div id="templatemo_banner_wrapper">
	<div id="templatemo_banner">
    
    	<div id="templatemo_banner_image">
        	<div id="templatemo_banner_image_wrapper">
            	<img src="images/templatemo_image_01.jpg" alt="image 1" />
            </div>
        </div>
        
        <div id="templatemo_banner_content">
        	<div class="header_01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <p>Aliquam dignissim elementum est sit amet iaculis. Integer pretium ultricies risus, condimentum molestie odio euismod vitae. </p>
            <div class="button_01"><a href="#">Read more</a></div>
        </div>	
    
    	<div class="cleaner"></div>
    </div>
</div>
<!-- End of Banner -->


<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
	
 <!-- Content Area -->   
    	<div id="column_w530">        	
            <div class="header_02">Welcome to our WEBSITE!</div>
            
            <p class="em_text">
			This is Home Page of this Websites and you are learning to design Master Pages in MVC using External CSS HTML Templates at <a href="http://www.completecsharptutorial.com">Complete C# Tutorial</a>.
			</p>
            <div class="cleaner"></div>
        </div>
<!-- End of Content Area -->

<!-- Right Sidebar -->     
        <div id="column_w300">
        
        	<div class="header_03">Latest News</div>
            
            <div class="column_w300_section_01">
            	<div class="news_image_wrapper">
                	<img src="images/templatemo_image_02.jpg" alt="image" />
                </div>
                
                <div class="news_content">
                	<div class="news_date">OCT 29, 2048</div>
                    <div class="header_04"><a href="#">Lorem ipsum dolor sit</a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo dolor.</p>
				</div>
                                
                <div class="cleaner"></div>
            </div>
            
            <div class="column_w300_section_01 even_color">
            	<div class="news_image_wrapper">
                	<img src="images/templatemo_image_03.jpg" alt="image" />
                </div>
                
                <div class="news_content">
                	<div class="news_date">OCT 28, 2048</div>
                    <div class="header_04"><a href="#">Nam dictum pellentesque</a></div>
                    <p>Nam ultricies cursus enim, non aliquet orci lacinia ac. Etiam lobortis adipiscing.</p>
				</div>
                                
                <div class="cleaner"></div>
            </div>
            
            <div class="column_w300_section_01">
            	<div class="news_image_wrapper">
                	<img src="images/templatemo_image_04.jpg" alt="image" />
                </div>
                
                <div class="news_content">
                	<div class="news_date">OCT 27, 2048</div>
                    <div class="header_04"><a href="#">Donec faucibus tortor</a></div>
                    <p>Aliquam porttitor nibh in erat porttitor in accumsan dui pulvinar.</p>
				</div>
                                
                <div class="cleaner"></div>
            </div>
            
            <div class="cleaner"></div>
        </div>
 <!-- End of Right Sidebar -->
    
    	<div class="cleaner"></div>
    </div>
</div>

<!-- Footer -->
<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    	
        <div class="section_w180">
        	<div class="header_05">Services</div>
            <div class="section_w180_content"> 
            	<ul class="footer_menu_list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>              
                </ul>
			</div>
        </div>
        
        <div class="section_w180">
        	<div class="header_05">About</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Nullam quis</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li> 
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>                
                </ul>
            </div>
        </div>
                
        <div class="section_w180">
        	<div class="header_05">Cool links</div>
            <div class="section_w180_content"> 
                <ul class="footer_menu_list">
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>
                    <li><a href="#">Nullam quis</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li>             
                </ul>
			</div>
        </div>
        
        <div class="section_w180">
	        <div class="header_05">Contact</div>
            
            <div class="section_w180_content">
            
                <ul class="footer_menu_list">
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>    
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>           
                </ul>
			</div>
        </div>
        
        <div class="section_w180">
			<div class="header_05">Partners</div>  
            <div class="section_w180_content">      
                <ul class="footer_menu_list">
                    <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                    <li><a href="http://www.flashmo.com" target="_parent">Flash Websites</a></li>
                    <li><a href="http://www.templatemo.com/page/2" target="_parent">Website Templates</a></li>
                    <li><a href="http://www.webdesignmo.com" target="_parent">Web Design Tips</a></li>
                    <li><a href="http://www.photovaco.com" target="_blank">Free Stock Photos</a></li>
                </ul>
			</div>
        </div>
        
        <div class="margin_bottom_20"></div>
        Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    <!--  Free CSS Templates by TemplateMo.com  -->
</div>
<!-- End of Footer -->
    </body>
</html>*@
